










{% extends "base/base2.html" %}{% block content %}
{%load static%}
{%load bootstrap4%}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>Agreeent Room</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
                <style type="text/css" media="screen">
            .i{
                display: inline-block;
                border-style: none none none double;
                padding: 0px 20px 20px 10px;
            }
            
            .head{
                text-transform: uppercase;
                text-decoration-style: solid;
                text-decoration-line: underline;

            }
            h3{
                font-size:25px;
            }
            .buttoni{
                             background-color: #4CAF50; /* Green */
              border: none;
              color: white;
              padding: 10px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 18px;
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }
        </style>
    </head>
    <body>
        <section class="sectio">
            <div class="contssainer">
                <div class="columns">
                    <div class="column is-one-third">
                        <div class="box">
                      Chat Room
                        </div>

                        <div class="box">
                            <div id="chat-messages" style="max-height: 300px; overflow-y: scroll;">{% for m in message %}<b>{{ m.username }}</b>: {{ m.content }}<br>{% endfor %}</div>
                        </div>
                        

                        <div class="field">
                            <div class="control">
                                <input class="input" type="text" placeholder="Message" id="chat-message-input">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <a class="button is-info" id="chat-message-submit">Submit</a>
                            </div>
                        </div>
               
                    </div>
                      <div class="columns">

                        {%for things in filled_things%}
                       

                             <div class="column">
                       <div class="i">
                            
                                <p class=" head">Room Name</p>
                                <p class=" ">{{things.Room_nme}}</p>
                          
                        </div>  

                             <div class="i">
                                <p class="head">Company Name</p>
                                <p class="">{{things.Client_Company_name}}</p>
                            </div>

                                  <div class="i">
                          
                                <p class="head">Tel No</p>
                                <p class="">{{things.Client_tel_no}}</p>
                            </div>


                            <div class="i">
                                <p class="head">Office Hours</p>
                                <p class="">{{things.Client_office_hours}}</p>
                          
                    </div>
                                <br>
                                <br>
                            <div class="i">
                                <p class="head"> Agreement Start Date</p>
                                <p class=""> {{things.Sla_start_date}} </p>
                    </div>
                         


                             <div class="i">
                                <p class="head">Agreement End Date</p>
                                <p class=" ">{{things.Sla_end_date}}</p>
                    </div>
                           
 <br>
                                <br>

                         <div class="i">
                                <p class="head">Performance Review</p>
                                <p class="">{{things.Client_performance_review}}</p>
                    </div>
                <br>
                                <br>             

                          <div class="i">
                                <p class="head"> Customer_Requirement1</p>
                                <p class="">{{things.Customer_Requirement1}}</p>
                    </div>
                           <br>
                                <br>


                              <div class="i">
                                <p class="head"> Customer_Requirement2</p>
                                <p class="">{{things.Customer_Requirement2}}</p>
                    </div>
                      <br>
                                <br>

                            <div class="i">
                                <p class="head"> Customer_Requirement3</p>
                                <p class="">{{things.Customer_Requirement3}}</p>
                    </div>
                              <br>
                                <br>

                          <div class="i">
                                <p class="head"> Client_tel_no</p>
                                <p class="">{{things.Client_tel_no}}</p>
                    </div>
                   

                     <div class="i">
                                <p class="head"> Client_service_office_no</p>
                                <p class="">{{things.Client_service_office_no}}</p>
                    </div>
                         <br>
                         <br>

                           <div class="i">
                                <p class="head">Performance Review</p>
                                <p class="">{{things.Client_performance_review}}</p>
                    </div>
                      <br>
                                <br>

                                <h3>Do you need to make any changes</h3>
                                <br>
                                <div style="display: inline-block; padding: 0px 20px;">
                                       
                               
                                <a href="{% url 'chat:edit_agreements' room_nme=things.Room_nme%}" class="buttoni">Yes</a>
                            </div>
                               <div style="display: inline-block;padding: 0px 20px">

                                <a href="{% url 'new_agre:form_filled' room_nme=things.Room_nme%}" class="buttoni">No</a>

                                 </div>
                               

</div>
    </div>



                            
                    
                  

                               {%endfor%}
                     </div>                 

    
                               

                                
                                

              
            
        </section>

       {{ room_name|json_script:"json-roomname" }}
       {{ username|json_script:"json-username" }}

        <script>
            function scrollToBottom() {
                let objDiv = document.getElementById("chat-messages");
                objDiv.scrollTop = objDiv.scrollHeight;
            }

            scrollToBottom();

            const roomName = JSON.parse(document.getElementById('json-roomname').textContent);
            const userName = JSON.parse(document.getElementById('json-username').textContent);

            const chatSocket = new WebSocket(
                'ws://'
                + window.location.host
                + '/ws/'
                + roomName
                + '/'
            );

            chatSocket.onmessage = function(e) {
                console.log('onmessage');

                const data = JSON.parse(e.data);

                if (data.message) {
                    document.querySelector('#chat-messages').innerHTML += ('<b>' + data.username + '</b>: ' + data.message + '<br>');
                } else {
                    alert('The message is empty!');
                }

                scrollToBottom();
            };

            chatSocket.onclose = function(e) {
                console.log('The socket close unexpectadly');
            };

            document.querySelector('#chat-message-submit').onclick = function(e) {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;

                chatSocket.send(JSON.stringify({
                    'message': message,
                    'username': userName,
                    'room': roomName
                }));

                messageInputDom.value = '';
            };
        </script>
{% endblock content%}

    </body>
</html>