{%load bootstrap4 %}
{% load static %}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Login Form</title>
		<link rel="stylesheet" href="{% static 'base/css/style2.css'%}">
</head>
<body>	
<div class="container" id="container">

	<!--Register a User -->

	<div class="form-container sign-up-container">
		{% block content1 %}
		<form method="post" action="{% url 'login:register' %}">
			<h1>Create Account</h1>
			<div class="social-container">
			</div>
			{% csrf_token %}
			{% bootstrap_form form %}
			{% buttons %}
			<button name="submit">register</button>
			{% endbuttons %}
			<input type="hidden" name="next" value="{% url 'base:index'%}"/>
		</form>
		{% endblock content1 %}
		

	</div>
	<div class="form-container sign-in-container">

		<!--login Form -->
		{% block content %}
		<form method="post" action="{% url 'login:login' %}">
			<h1>Sign in</h1>
			<div class="social-container">
		
			</div>
			
			{% csrf_token %}
			{% bootstrap_form form %}
			<a href="#">Forgot your password?</a>
			{% buttons %}
			<button name="submit" class="btn btn-primary">Sign in</button>
			{% endbuttons %}
			<input type="hidden" name="next" value="{% url 'base:index' %}"/>
			</form>
			{% endblock content %}
	</div>


	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>
		<script src="{% static 'base/js/script.js'%}"></script>
		{% bootstrap_css %}
		{% bootstrap_javascript %}
<footer>
	<p>
		InSupport from Cyber.SyS
	</p>
</footer>
</body>
</html>






































